<?xml version="1.0" encoding="UTF-8"?>
<db:article xmlns:db="http://docbook.org/ns/docbook" xmlns:xlink="http://www.w3.org/1999/xlink" version="5.2" xml:lang="en">
<db:info>
<db:title>Event Classes</db:title>
<db:productname>QtCore</db:productname>
<db:edition>Qt 6.8.3 Reference Documentation</db:edition>
<db:titleabbrev>Qt Core Reference Documentation</db:titleabbrev>
<db:abstract>
<db:para>Classes used to create and handle events.</db:para>
</db:abstract>
<db:pubdate>2025-06-29</db:pubdate>
<db:date>2025-06-29</db:date>
<db:authorgroup>
<db:author>
<db:orgname class="corporation">The Qt Company Ltd.</db:orgname>
</db:author>
</db:authorgroup>
</db:info>
<db:anchor xml:id="details"/>
<db:para>These <db:link xlink:href="qtcore-index.xml">Qt Core</db:link> classes are used to create and handle events.</db:para>
<db:para>For more information see the <db:link xlink:href="eventsandfilters.xml">Event System</db:link> page.</db:para>
<db:variablelist role="members">
<db:varlistentry>
<db:term><db:link xlink:href="qabstracteventdispatcher.xml" xlink:role="class">QAbstractEventDispatcher</db:link></db:term>
<db:listitem>
<db:para>The QAbstractEventDispatcher class provides an interface to manage Qt's event queue.</db:para>
</db:listitem>
</db:varlistentry>
<db:varlistentry>
<db:term><db:link xlink:href="qbasictimer.xml" xlink:role="class">QBasicTimer</db:link></db:term>
<db:listitem>
<db:para>The QBasicTimer class provides timer events for objects.</db:para>
</db:listitem>
</db:varlistentry>
<db:varlistentry>
<db:term><db:link xlink:href="qchildevent.xml" xlink:role="class">QChildEvent</db:link></db:term>
<db:listitem>
<db:para>The QChildEvent class contains event parameters for child object events.</db:para>
</db:listitem>
</db:varlistentry>
<db:varlistentry>
<db:term><db:link xlink:href="qchronotimer.xml" xlink:role="class">QChronoTimer</db:link></db:term>
<db:listitem>
<db:para>The QChronoTimer class provides repetitive and single-shot timers.</db:para>
</db:listitem>
</db:varlistentry>
<db:varlistentry>
<db:term><db:link xlink:href="qdynamicpropertychangeevent.xml" xlink:role="class">QDynamicPropertyChangeEvent</db:link></db:term>
<db:listitem>
<db:para>The QDynamicPropertyChangeEvent class contains event parameters for dynamic property change events.</db:para>
</db:listitem>
</db:varlistentry>
<db:varlistentry>
<db:term><db:link xlink:href="qevent.xml" xlink:role="class">QEvent</db:link></db:term>
<db:listitem>
<db:para>The QEvent class is the base class of all event classes. Event objects contain event parameters.</db:para>
</db:listitem>
</db:varlistentry>
<db:varlistentry>
<db:term><db:link xlink:href="qtimer.xml" xlink:role="class">QTimer</db:link></db:term>
<db:listitem>
<db:para>The QTimer class provides repetitive and single-shot timers.</db:para>
</db:listitem>
</db:varlistentry>
<db:varlistentry>
<db:term><db:link xlink:href="qtimerevent.xml" xlink:role="class">QTimerEvent</db:link></db:term>
<db:listitem>
<db:para>The QTimerEvent class contains parameters that describe a timer event.</db:para>
</db:listitem>
</db:varlistentry>
</db:variablelist>
</db:article>
