<?xml version="1.0" encoding="UTF-8"?>
<db:article xmlns:db="http://docbook.org/ns/docbook" xmlns:xlink="http://www.w3.org/1999/xlink" version="5.2" xml:lang="en">
<db:info>
<db:title>QCandlestickModelMapper Class</db:title>
<db:productname>QtCharts</db:productname>
<db:edition>Qt Charts | Commercial or GPLv3</db:edition>
<db:titleabbrev>Qt Charts Reference Documentation</db:titleabbrev>
<db:abstract>
<db:para>Abstract model mapper class for candlestick series.</db:para>
<db:para>This class was introduced in Qt 5.8.</db:para>
</db:abstract>
<db:pubdate>2024-01-26</db:pubdate>
<db:date>2024-01-26</db:date>
<db:authorgroup>
<db:author>
<db:orgname class="corporation">The Qt Company Ltd.</db:orgname>
</db:author>
</db:authorgroup>
</db:info>
<db:variablelist>
<db:varlistentry>
<db:term>Header</db:term>
<db:listitem>
<db:para>QCandlestickModelMapper</db:para>
</db:listitem>
</db:varlistentry>
<db:varlistentry>
<db:term>Since</db:term>
<db:listitem>
<db:para>Qt 5.8</db:para>
</db:listitem>
</db:varlistentry>
<db:varlistentry>
<db:term>Inherits</db:term>
<db:listitem>
<db:para><db:link xlink:href="qobject.xml" xlink:role="class">QObject</db:link></db:para>
</db:listitem>
</db:varlistentry>
<db:varlistentry>
<db:term>Inherited By</db:term>
<db:listitem>
<db:para><db:link xlink:href="qhcandlestickmodelmapper.xml" xlink:role="class">QHCandlestickModelMapper</db:link> and <db:link xlink:href="qvcandlestickmodelmapper.xml" xlink:role="class">QVCandlestickModelMapper</db:link></db:para>
</db:listitem>
</db:varlistentry>
</db:variablelist>
<db:section xml:id="details">
<db:title>Detailed Description</db:title>
<db:para>Model mappers allow the use of a <db:link xlink:href="qabstractitemmodel.xml">QAbstractItemModel</db:link>-derived model as a data source for a chart series, creating a connection between a <db:link xlink:href="qcandlestickseries.xml">QCandlestickSeries</db:link> and the model object. A model mapper maintains an equal size across all <db:link xlink:href="qcandlestickset.xml">QCandlestickSets</db:link>.</db:para>
<db:note>
<db:para>The model used must support adding and removing rows/columns and modifying the data of the cells.</db:para>
</db:note>
</db:section>
<db:section xml:id="property-documentation">
<db:title>Property Documentation</db:title>
<db:section xml:id="model-prop">
<db:title>model : QAbstractItemModel*</db:title>
<db:fieldsynopsis>
<db:modifier>(Qt property)</db:modifier>
<db:type>QAbstractItemModel*</db:type>
<db:varname>model</db:varname>
<db:synopsisinfo role="access">public</db:synopsisinfo>
<db:synopsisinfo role="status">active</db:synopsisinfo>
<db:synopsisinfo role="threadsafeness">unspecified</db:synopsisinfo>
<db:synopsisinfo role="getter">model</db:synopsisinfo>
<db:synopsisinfo role="setter">setModel</db:synopsisinfo>
<db:synopsisinfo role="notifier">modelReplaced</db:synopsisinfo>
</db:fieldsynopsis>
<db:para>Defines the model that is used by the mapper.</db:para>
<db:para>
<db:emphasis role="bold">Access functions:
</db:emphasis>
</db:para>
<db:itemizedlist>
<db:listitem>
<db:para><db:type><db:link xlink:href="qabstractitemmodel.xml">QAbstractItemModel</db:link></db:type> *<db:emphasis role="bold">model</db:emphasis>() const</db:para>
</db:listitem>
<db:listitem>
<db:para><db:type>void</db:type> <db:emphasis role="bold">setModel</db:emphasis>(<db:type><db:link xlink:href="qabstractitemmodel.xml">QAbstractItemModel</db:link></db:type> *<db:emphasis>model</db:emphasis>)</db:para>
</db:listitem>
</db:itemizedlist>
<db:para>
<db:emphasis role="bold">Notifier signal:
</db:emphasis>
</db:para>
<db:itemizedlist>
<db:listitem>
<db:para><db:type>void</db:type> <db:emphasis role="bold"><db:link xlink:href="qcandlestickmodelmapper.xml#modelReplaced">modelReplaced</db:link></db:emphasis>()</db:para>
</db:listitem>
</db:itemizedlist>
</db:section>
<db:section xml:id="series-prop">
<db:title>series : QCandlestickSeries*</db:title>
<db:fieldsynopsis>
<db:modifier>(Qt property)</db:modifier>
<db:type>QCandlestickSeries*</db:type>
<db:varname>series</db:varname>
<db:synopsisinfo role="access">public</db:synopsisinfo>
<db:synopsisinfo role="status">active</db:synopsisinfo>
<db:synopsisinfo role="threadsafeness">unspecified</db:synopsisinfo>
<db:synopsisinfo role="getter">series</db:synopsisinfo>
<db:synopsisinfo role="setter">setSeries</db:synopsisinfo>
<db:synopsisinfo role="notifier">seriesReplaced</db:synopsisinfo>
</db:fieldsynopsis>
<db:para>Defines the <db:link xlink:href="qcandlestickseries.xml">QCandlestickSeries</db:link> object that is used by the mapper.</db:para>
<db:note>
<db:para>All data in the series is discarded when it is set to the mapper. When a new series is specified, the old series is disconnected (preserving its data).</db:para>
</db:note>
<db:para>
<db:emphasis role="bold">Access functions:
</db:emphasis>
</db:para>
<db:itemizedlist>
<db:listitem>
<db:para><db:type><db:link xlink:href="qcandlestickseries.xml">QCandlestickSeries</db:link></db:type> *<db:emphasis role="bold">series</db:emphasis>() const</db:para>
</db:listitem>
<db:listitem>
<db:para><db:type>void</db:type> <db:emphasis role="bold">setSeries</db:emphasis>(<db:type><db:link xlink:href="qcandlestickseries.xml">QCandlestickSeries</db:link></db:type> *<db:emphasis>series</db:emphasis>)</db:para>
</db:listitem>
</db:itemizedlist>
<db:para>
<db:emphasis role="bold">Notifier signal:
</db:emphasis>
</db:para>
<db:itemizedlist>
<db:listitem>
<db:para><db:type>void</db:type> <db:emphasis role="bold"><db:link xlink:href="qcandlestickmodelmapper.xml#seriesReplaced">seriesReplaced</db:link></db:emphasis>()</db:para>
</db:listitem>
</db:itemizedlist>
</db:section>
</db:section>
<db:section xml:id="member-function-documentation">
<db:title>Member Function Documentation</db:title>
<db:section xml:id="QCandlestickModelMapper">
<db:title>[explicit] QCandlestickModelMapper::QCandlestickModelMapper(QObject *<db:emphasis>parent</db:emphasis> = nullptr)</db:title>
<db:constructorsynopsis>
<db:methodname>QCandlestickModelMapper</db:methodname>
<db:methodparam>
<db:type>QObject *</db:type>
<db:parameter>parent</db:parameter>
<db:initializer>nullptr</db:initializer>
</db:methodparam>
<db:synopsisinfo role="meta">constructor</db:synopsisinfo>
<db:synopsisinfo role="signature">QCandlestickModelMapper(QObject *parent)</db:synopsisinfo>
<db:synopsisinfo role="access">public</db:synopsisinfo>
<db:synopsisinfo role="status">active</db:synopsisinfo>
<db:synopsisinfo role="threadsafeness">unspecified</db:synopsisinfo>
</db:constructorsynopsis>
<db:para>Constructs a model mapper object as a child of <db:code role="parameter">parent</db:code>.</db:para>
</db:section>
<db:section xml:id="close">
<db:title>[protected] int QCandlestickModelMapper::close() const</db:title>
<db:methodsynopsis>
<db:modifier>const</db:modifier>
<db:type>int</db:type>
<db:methodname>close</db:methodname>
<db:void/>
<db:synopsisinfo role="meta">plain</db:synopsisinfo>
<db:synopsisinfo role="signature">int close() const</db:synopsisinfo>
<db:synopsisinfo role="access">protected</db:synopsisinfo>
<db:synopsisinfo role="status">active</db:synopsisinfo>
<db:synopsisinfo role="threadsafeness">unspecified</db:synopsisinfo>
</db:methodsynopsis>
<db:para>Returns the row/column of the model that contains the close values of the sets in the series. Default value is -1 (invalid mapping).</db:para>
<db:section>
<db:title>See Also</db:title>
<db:para><db:emphasis>See also </db:emphasis>
<db:simplelist type="vert" role="see-also">
<db:member><db:link xlink:href="qcandlestickmodelmapper.xml#setClose">setClose</db:link>()</db:member>
</db:simplelist>
</db:para>
</db:section>
</db:section>
<db:section xml:id="firstSetSection">
<db:title>[protected] int QCandlestickModelMapper::firstSetSection() const</db:title>
<db:methodsynopsis>
<db:modifier>const</db:modifier>
<db:type>int</db:type>
<db:methodname>firstSetSection</db:methodname>
<db:void/>
<db:synopsisinfo role="meta">plain</db:synopsisinfo>
<db:synopsisinfo role="signature">int firstSetSection() const</db:synopsisinfo>
<db:synopsisinfo role="access">protected</db:synopsisinfo>
<db:synopsisinfo role="status">active</db:synopsisinfo>
<db:synopsisinfo role="threadsafeness">unspecified</db:synopsisinfo>
</db:methodsynopsis>
<db:para>Returns the section of the model that is used as the data source for the first candlestick set. Default value is -1 (invalid mapping).</db:para>
<db:section>
<db:title>See Also</db:title>
<db:para><db:emphasis>See also </db:emphasis>
<db:simplelist type="vert" role="see-also">
<db:member><db:link xlink:href="qcandlestickmodelmapper.xml#setFirstSetSection">setFirstSetSection</db:link>()</db:member>
</db:simplelist>
</db:para>
</db:section>
</db:section>
<db:section xml:id="high">
<db:title>[protected] int QCandlestickModelMapper::high() const</db:title>
<db:methodsynopsis>
<db:modifier>const</db:modifier>
<db:type>int</db:type>
<db:methodname>high</db:methodname>
<db:void/>
<db:synopsisinfo role="meta">plain</db:synopsisinfo>
<db:synopsisinfo role="signature">int high() const</db:synopsisinfo>
<db:synopsisinfo role="access">protected</db:synopsisinfo>
<db:synopsisinfo role="status">active</db:synopsisinfo>
<db:synopsisinfo role="threadsafeness">unspecified</db:synopsisinfo>
</db:methodsynopsis>
<db:para>Returns the row/column of the model that contains the high values of the sets in the series. Default value is -1 (invalid mapping).</db:para>
<db:section>
<db:title>See Also</db:title>
<db:para><db:emphasis>See also </db:emphasis>
<db:simplelist type="vert" role="see-also">
<db:member><db:link xlink:href="qcandlestickmodelmapper.xml#setHigh">setHigh</db:link>()</db:member>
</db:simplelist>
</db:para>
</db:section>
</db:section>
<db:section xml:id="lastSetSection">
<db:title>[protected] int QCandlestickModelMapper::lastSetSection() const</db:title>
<db:methodsynopsis>
<db:modifier>const</db:modifier>
<db:type>int</db:type>
<db:methodname>lastSetSection</db:methodname>
<db:void/>
<db:synopsisinfo role="meta">plain</db:synopsisinfo>
<db:synopsisinfo role="signature">int lastSetSection() const</db:synopsisinfo>
<db:synopsisinfo role="access">protected</db:synopsisinfo>
<db:synopsisinfo role="status">active</db:synopsisinfo>
<db:synopsisinfo role="threadsafeness">unspecified</db:synopsisinfo>
</db:methodsynopsis>
<db:para>Returns the section of the model that is used as the data source for the last candlestick set. Default value is -1 (invalid mapping).</db:para>
<db:section>
<db:title>See Also</db:title>
<db:para><db:emphasis>See also </db:emphasis>
<db:simplelist type="vert" role="see-also">
<db:member><db:link xlink:href="qcandlestickmodelmapper.xml#setLastSetSection">setLastSetSection</db:link>()</db:member>
</db:simplelist>
</db:para>
</db:section>
</db:section>
<db:section xml:id="low">
<db:title>[protected] int QCandlestickModelMapper::low() const</db:title>
<db:methodsynopsis>
<db:modifier>const</db:modifier>
<db:type>int</db:type>
<db:methodname>low</db:methodname>
<db:void/>
<db:synopsisinfo role="meta">plain</db:synopsisinfo>
<db:synopsisinfo role="signature">int low() const</db:synopsisinfo>
<db:synopsisinfo role="access">protected</db:synopsisinfo>
<db:synopsisinfo role="status">active</db:synopsisinfo>
<db:synopsisinfo role="threadsafeness">unspecified</db:synopsisinfo>
</db:methodsynopsis>
<db:para>Returns the row/column of the model that contains the low values of the sets in the series. Default value is -1 (invalid mapping).</db:para>
<db:section>
<db:title>See Also</db:title>
<db:para><db:emphasis>See also </db:emphasis>
<db:simplelist type="vert" role="see-also">
<db:member><db:link xlink:href="qcandlestickmodelmapper.xml#setLow">setLow</db:link>()</db:member>
</db:simplelist>
</db:para>
</db:section>
</db:section>
<db:section xml:id="modelReplaced">
<db:title>void QCandlestickModelMapper::modelReplaced()</db:title>
<db:methodsynopsis>
<db:void/>
<db:methodname>modelReplaced</db:methodname>
<db:void/>
<db:synopsisinfo role="meta">plain</db:synopsisinfo>
<db:synopsisinfo role="associated-property">model</db:synopsisinfo>
<db:synopsisinfo role="signature">void modelReplaced()</db:synopsisinfo>
<db:synopsisinfo role="access">public</db:synopsisinfo>
<db:synopsisinfo role="status">active</db:synopsisinfo>
<db:synopsisinfo role="threadsafeness">unspecified</db:synopsisinfo>
</db:methodsynopsis>
<db:para>Emitted when the model, to which the mapper is connected, has changed.</db:para>
<db:note>
<db:para>Notifier signal for property <db:link xlink:href="qcandlestickmodelmapper.xml#model-prop">model</db:link>. </db:para>
</db:note>
<db:section>
<db:title>See Also</db:title>
<db:para><db:emphasis>See also </db:emphasis>
<db:simplelist type="vert" role="see-also">
<db:member><db:link xlink:href="qcandlestickmodelmapper.xml#model-prop">model</db:link></db:member>
</db:simplelist>
</db:para>
</db:section>
</db:section>
<db:section xml:id="open">
<db:title>[protected] int QCandlestickModelMapper::open() const</db:title>
<db:methodsynopsis>
<db:modifier>const</db:modifier>
<db:type>int</db:type>
<db:methodname>open</db:methodname>
<db:void/>
<db:synopsisinfo role="meta">plain</db:synopsisinfo>
<db:synopsisinfo role="signature">int open() const</db:synopsisinfo>
<db:synopsisinfo role="access">protected</db:synopsisinfo>
<db:synopsisinfo role="status">active</db:synopsisinfo>
<db:synopsisinfo role="threadsafeness">unspecified</db:synopsisinfo>
</db:methodsynopsis>
<db:para>Returns the row/column of the model that contains the open values of the sets in the series. Default value is -1 (invalid mapping).</db:para>
<db:section>
<db:title>See Also</db:title>
<db:para><db:emphasis>See also </db:emphasis>
<db:simplelist type="vert" role="see-also">
<db:member><db:link xlink:href="qcandlestickmodelmapper.xml#setOpen">setOpen</db:link>()</db:member>
</db:simplelist>
</db:para>
</db:section>
</db:section>
<db:section xml:id="orientation">
<db:title>[pure virtual] Qt::Orientation QCandlestickModelMapper::orientation() const</db:title>
<db:methodsynopsis>
<db:modifier>virtual</db:modifier>
<db:modifier>const</db:modifier>
<db:type>Qt::Orientation</db:type>
<db:methodname>orientation</db:methodname>
<db:void/>
<db:synopsisinfo role="meta">plain</db:synopsisinfo>
<db:synopsisinfo role="signature">Qt::Orientation orientation() const = 0</db:synopsisinfo>
<db:synopsisinfo role="access">public</db:synopsisinfo>
<db:synopsisinfo role="status">active</db:synopsisinfo>
<db:synopsisinfo role="threadsafeness">unspecified</db:synopsisinfo>
</db:methodsynopsis>
<db:para>Returns the orientation that is used when <db:link xlink:href="qcandlestickmodelmapper.xml">QCandlestickModelMapper</db:link> accesses the model. This determines whether the consecutive values of the set are read from rows (<db:link xlink:href="qt.xml#Orientation-enum">Qt::Horizontal</db:link>) or from columns (<db:link xlink:href="qt.xml#Orientation-enum">Qt::Vertical</db:link>).</db:para>
</db:section>
<db:section xml:id="seriesReplaced">
<db:title>void QCandlestickModelMapper::seriesReplaced()</db:title>
<db:methodsynopsis>
<db:void/>
<db:methodname>seriesReplaced</db:methodname>
<db:void/>
<db:synopsisinfo role="meta">plain</db:synopsisinfo>
<db:synopsisinfo role="associated-property">series</db:synopsisinfo>
<db:synopsisinfo role="signature">void seriesReplaced()</db:synopsisinfo>
<db:synopsisinfo role="access">public</db:synopsisinfo>
<db:synopsisinfo role="status">active</db:synopsisinfo>
<db:synopsisinfo role="threadsafeness">unspecified</db:synopsisinfo>
</db:methodsynopsis>
<db:para>Emitted when the series to which mapper is connected to has changed.</db:para>
<db:note>
<db:para>Notifier signal for property <db:link xlink:href="qcandlestickmodelmapper.xml#series-prop">series</db:link>. </db:para>
</db:note>
<db:section>
<db:title>See Also</db:title>
<db:para><db:emphasis>See also </db:emphasis>
<db:simplelist type="vert" role="see-also">
<db:member><db:link xlink:href="qcandlestickmodelmapper.xml#series-prop">series</db:link></db:member>
</db:simplelist>
</db:para>
</db:section>
</db:section>
<db:section xml:id="setClose">
<db:title>[protected] void QCandlestickModelMapper::setClose(int <db:emphasis>close</db:emphasis>)</db:title>
<db:methodsynopsis>
<db:void/>
<db:methodname>setClose</db:methodname>
<db:methodparam>
<db:type>int</db:type>
<db:parameter>close</db:parameter>
</db:methodparam>
<db:synopsisinfo role="meta">plain</db:synopsisinfo>
<db:synopsisinfo role="signature">void setClose(int close)</db:synopsisinfo>
<db:synopsisinfo role="access">protected</db:synopsisinfo>
<db:synopsisinfo role="status">active</db:synopsisinfo>
<db:synopsisinfo role="threadsafeness">unspecified</db:synopsisinfo>
</db:methodsynopsis>
<db:para>Sets the row/column of the model that contains the <db:code role="parameter">close</db:code> values of the sets in the series. Default value is -1 (invalid mapping).</db:para>
<db:section>
<db:title>See Also</db:title>
<db:para><db:emphasis>See also </db:emphasis>
<db:simplelist type="vert" role="see-also">
<db:member><db:link xlink:href="qcandlestickmodelmapper.xml#close">close</db:link>()</db:member>
</db:simplelist>
</db:para>
</db:section>
</db:section>
<db:section xml:id="setFirstSetSection">
<db:title>[protected] void QCandlestickModelMapper::setFirstSetSection(int <db:emphasis>firstSetSection</db:emphasis>)</db:title>
<db:methodsynopsis>
<db:void/>
<db:methodname>setFirstSetSection</db:methodname>
<db:methodparam>
<db:type>int</db:type>
<db:parameter>firstSetSection</db:parameter>
</db:methodparam>
<db:synopsisinfo role="meta">plain</db:synopsisinfo>
<db:synopsisinfo role="signature">void setFirstSetSection(int firstSetSection)</db:synopsisinfo>
<db:synopsisinfo role="access">protected</db:synopsisinfo>
<db:synopsisinfo role="status">active</db:synopsisinfo>
<db:synopsisinfo role="threadsafeness">unspecified</db:synopsisinfo>
</db:methodsynopsis>
<db:para>Sets the section of the model that is used as the data source for the first candlestick set. Parameter <db:code role="parameter">firstSetSection</db:code> specifies the section of the model. Default value is -1.</db:para>
<db:section>
<db:title>See Also</db:title>
<db:para><db:emphasis>See also </db:emphasis>
<db:simplelist type="vert" role="see-also">
<db:member><db:link xlink:href="qcandlestickmodelmapper.xml#firstSetSection">firstSetSection</db:link>()</db:member>
</db:simplelist>
</db:para>
</db:section>
</db:section>
<db:section xml:id="setHigh">
<db:title>[protected] void QCandlestickModelMapper::setHigh(int <db:emphasis>high</db:emphasis>)</db:title>
<db:methodsynopsis>
<db:void/>
<db:methodname>setHigh</db:methodname>
<db:methodparam>
<db:type>int</db:type>
<db:parameter>high</db:parameter>
</db:methodparam>
<db:synopsisinfo role="meta">plain</db:synopsisinfo>
<db:synopsisinfo role="signature">void setHigh(int high)</db:synopsisinfo>
<db:synopsisinfo role="access">protected</db:synopsisinfo>
<db:synopsisinfo role="status">active</db:synopsisinfo>
<db:synopsisinfo role="threadsafeness">unspecified</db:synopsisinfo>
</db:methodsynopsis>
<db:para>Sets the row/column of the model that contains the <db:code role="parameter">high</db:code> values of the sets in the series. Default value is -1 (invalid mapping).</db:para>
<db:section>
<db:title>See Also</db:title>
<db:para><db:emphasis>See also </db:emphasis>
<db:simplelist type="vert" role="see-also">
<db:member><db:link xlink:href="qcandlestickmodelmapper.xml#high">high</db:link>()</db:member>
</db:simplelist>
</db:para>
</db:section>
</db:section>
<db:section xml:id="setLastSetSection">
<db:title>[protected] void QCandlestickModelMapper::setLastSetSection(int <db:emphasis>lastSetSection</db:emphasis>)</db:title>
<db:methodsynopsis>
<db:void/>
<db:methodname>setLastSetSection</db:methodname>
<db:methodparam>
<db:type>int</db:type>
<db:parameter>lastSetSection</db:parameter>
</db:methodparam>
<db:synopsisinfo role="meta">plain</db:synopsisinfo>
<db:synopsisinfo role="signature">void setLastSetSection(int lastSetSection)</db:synopsisinfo>
<db:synopsisinfo role="access">protected</db:synopsisinfo>
<db:synopsisinfo role="status">active</db:synopsisinfo>
<db:synopsisinfo role="threadsafeness">unspecified</db:synopsisinfo>
</db:methodsynopsis>
<db:para>Sets the section of the model that is used as the data source for the last candlestick set. Parameter <db:code role="parameter">lastSetSection</db:code> specifies the section of the model. Default value is -1.</db:para>
<db:section>
<db:title>See Also</db:title>
<db:para><db:emphasis>See also </db:emphasis>
<db:simplelist type="vert" role="see-also">
<db:member><db:link xlink:href="qcandlestickmodelmapper.xml#lastSetSection">lastSetSection</db:link>()</db:member>
</db:simplelist>
</db:para>
</db:section>
</db:section>
<db:section xml:id="setLow">
<db:title>[protected] void QCandlestickModelMapper::setLow(int <db:emphasis>low</db:emphasis>)</db:title>
<db:methodsynopsis>
<db:void/>
<db:methodname>setLow</db:methodname>
<db:methodparam>
<db:type>int</db:type>
<db:parameter>low</db:parameter>
</db:methodparam>
<db:synopsisinfo role="meta">plain</db:synopsisinfo>
<db:synopsisinfo role="signature">void setLow(int low)</db:synopsisinfo>
<db:synopsisinfo role="access">protected</db:synopsisinfo>
<db:synopsisinfo role="status">active</db:synopsisinfo>
<db:synopsisinfo role="threadsafeness">unspecified</db:synopsisinfo>
</db:methodsynopsis>
<db:para>Sets the row/column of the model that contains the <db:code role="parameter">low</db:code> values of the sets in the series. Default value is -1 (invalid mapping).</db:para>
<db:section>
<db:title>See Also</db:title>
<db:para><db:emphasis>See also </db:emphasis>
<db:simplelist type="vert" role="see-also">
<db:member><db:link xlink:href="qcandlestickmodelmapper.xml#low">low</db:link>()</db:member>
</db:simplelist>
</db:para>
</db:section>
</db:section>
<db:section xml:id="setOpen">
<db:title>[protected] void QCandlestickModelMapper::setOpen(int <db:emphasis>open</db:emphasis>)</db:title>
<db:methodsynopsis>
<db:void/>
<db:methodname>setOpen</db:methodname>
<db:methodparam>
<db:type>int</db:type>
<db:parameter>open</db:parameter>
</db:methodparam>
<db:synopsisinfo role="meta">plain</db:synopsisinfo>
<db:synopsisinfo role="signature">void setOpen(int open)</db:synopsisinfo>
<db:synopsisinfo role="access">protected</db:synopsisinfo>
<db:synopsisinfo role="status">active</db:synopsisinfo>
<db:synopsisinfo role="threadsafeness">unspecified</db:synopsisinfo>
</db:methodsynopsis>
<db:para>Sets the row/column of the model that contains the <db:code role="parameter">open</db:code> values of the sets in the series. Default value is -1 (invalid mapping).</db:para>
<db:section>
<db:title>See Also</db:title>
<db:para><db:emphasis>See also </db:emphasis>
<db:simplelist type="vert" role="see-also">
<db:member><db:link xlink:href="qcandlestickmodelmapper.xml#open">open</db:link>()</db:member>
</db:simplelist>
</db:para>
</db:section>
</db:section>
<db:section xml:id="setTimestamp">
<db:title>[protected] void QCandlestickModelMapper::setTimestamp(int <db:emphasis>timestamp</db:emphasis>)</db:title>
<db:methodsynopsis>
<db:void/>
<db:methodname>setTimestamp</db:methodname>
<db:methodparam>
<db:type>int</db:type>
<db:parameter>timestamp</db:parameter>
</db:methodparam>
<db:synopsisinfo role="meta">plain</db:synopsisinfo>
<db:synopsisinfo role="signature">void setTimestamp(int timestamp)</db:synopsisinfo>
<db:synopsisinfo role="access">protected</db:synopsisinfo>
<db:synopsisinfo role="status">active</db:synopsisinfo>
<db:synopsisinfo role="threadsafeness">unspecified</db:synopsisinfo>
</db:methodsynopsis>
<db:para>Sets the row/column of the model that contains the <db:code role="parameter">timestamp</db:code> values of the sets in the series. Default value is -1 (invalid mapping).</db:para>
<db:section>
<db:title>See Also</db:title>
<db:para><db:emphasis>See also </db:emphasis>
<db:simplelist type="vert" role="see-also">
<db:member><db:link xlink:href="qcandlestickmodelmapper.xml#timestamp">timestamp</db:link>()</db:member>
</db:simplelist>
</db:para>
</db:section>
</db:section>
<db:section xml:id="timestamp">
<db:title>[protected] int QCandlestickModelMapper::timestamp() const</db:title>
<db:methodsynopsis>
<db:modifier>const</db:modifier>
<db:type>int</db:type>
<db:methodname>timestamp</db:methodname>
<db:void/>
<db:synopsisinfo role="meta">plain</db:synopsisinfo>
<db:synopsisinfo role="signature">int timestamp() const</db:synopsisinfo>
<db:synopsisinfo role="access">protected</db:synopsisinfo>
<db:synopsisinfo role="status">active</db:synopsisinfo>
<db:synopsisinfo role="threadsafeness">unspecified</db:synopsisinfo>
</db:methodsynopsis>
<db:para>Returns the row/column of the model that contains the timestamp values of the sets in the series. Default value is -1 (invalid mapping).</db:para>
<db:section>
<db:title>See Also</db:title>
<db:para><db:emphasis>See also </db:emphasis>
<db:simplelist type="vert" role="see-also">
<db:member><db:link xlink:href="qcandlestickmodelmapper.xml#setTimestamp">setTimestamp</db:link>()</db:member>
</db:simplelist>
</db:para>
</db:section>
</db:section>
</db:section>
</db:article>
