<?xml version="1.0" encoding="UTF-8"?>
<db:article xmlns:db="http://docbook.org/ns/docbook" xmlns:xlink="http://www.w3.org/1999/xlink" version="5.2" xml:lang="en">
<db:info>
<db:title>QHXYModelMapper Class</db:title>
<db:productname>QtCharts</db:productname>
<db:edition>Qt Charts | Commercial or GPLv3</db:edition>
<db:titleabbrev>Qt Charts Reference Documentation</db:titleabbrev>
<db:abstract>
<db:para>The <db:link xlink:href="qhxymodelmapper.xml">QHXYModelMapper</db:link> class is a horizontal model mapper for line, spline, and scatter series.</db:para>
</db:abstract>
<db:pubdate>2024-02-14</db:pubdate>
<db:date>2024-02-14</db:date>
<db:authorgroup>
<db:author>
<db:orgname class="corporation">The Qt Company Ltd.</db:orgname>
</db:author>
</db:authorgroup>
</db:info>
<db:variablelist>
<db:varlistentry>
<db:term>Header</db:term>
<db:listitem>
<db:para>QHXYModelMapper</db:para>
</db:listitem>
</db:varlistentry>
<db:varlistentry>
<db:term>Inherited By</db:term>
<db:listitem>
<db:para/>
</db:listitem>
</db:varlistentry>
<db:varlistentry>
<db:term>Instantiated By</db:term>
<db:listitem>
<db:para>qml-qtcharts-hxymodelmapper.xml</db:para>
</db:listitem>
</db:varlistentry>
<db:varlistentry>
<db:term>Inherits</db:term>
<db:listitem>
<db:para><db:link xlink:href="qxymodelmapper.xml" xlink:role="class">QXYModelMapper</db:link></db:para>
</db:listitem>
</db:varlistentry>
</db:variablelist>
<db:section xml:id="details">
<db:title>Detailed Description</db:title>
<db:para>Model mappers enable using a data model derived from the <db:link xlink:href="qabstractitemmodel.xml">QAbstractItemModel</db:link> class as a data source for a chart. A horizontal model mapper is used to create a connection between a line, spline, or scatter series and the data model that has <db:emphasis>X</db:emphasis> and <db:emphasis>Y</db:emphasis> rows for the coordinates and holds the data points for the <db:link xlink:href="qml-qtcharts-xyseries.xml">XYSeries</db:link> as columns. A <db:emphasis>TableModel</db:emphasis> is a natural choice for the model.</db:para>
<db:para>Both model and series properties can be used to manipulate the data. The model mapper keeps the series and the data model in sync.</db:para>
<db:section>
<db:title>See Also</db:title>
<db:para><db:emphasis>See also </db:emphasis>
<db:simplelist type="vert" role="see-also">
<db:member><db:link xlink:href="qvxymodelmapper.xml">QVXYModelMapper</db:link></db:member>
<db:member><db:link xlink:href="qxyseries.xml">QXYSeries</db:link></db:member>
<db:member><db:link xlink:href="qtcharts-chartsgallery-example.xml">Charts with Widgets Gallery</db:link></db:member>
</db:simplelist>
</db:para>
</db:section>
</db:section>
<db:section xml:id="property-documentation">
<db:title>Property Documentation</db:title>
<db:section xml:id="columnCount-prop">
<db:title>columnCount : int</db:title>
<db:fieldsynopsis>
<db:modifier>(Qt property)</db:modifier>
<db:type>int</db:type>
<db:varname>columnCount</db:varname>
<db:synopsisinfo role="access">public</db:synopsisinfo>
<db:synopsisinfo role="status">active</db:synopsisinfo>
<db:synopsisinfo role="threadsafeness">unspecified</db:synopsisinfo>
<db:synopsisinfo role="getter">columnCount</db:synopsisinfo>
<db:synopsisinfo role="setter">setColumnCount</db:synopsisinfo>
<db:synopsisinfo role="notifier">columnCountChanged</db:synopsisinfo>
</db:fieldsynopsis>
<db:para>This property holds the number of columns of the model that are mapped as the data for series.</db:para>
<db:para>The minimum and default value is -1 (the number is limited by the number of columns in the model).</db:para>
<db:para>
<db:emphasis role="bold">Access functions:
</db:emphasis>
</db:para>
<db:itemizedlist>
<db:listitem>
<db:para><db:type>int</db:type> <db:emphasis role="bold">columnCount</db:emphasis>() const</db:para>
</db:listitem>
<db:listitem>
<db:para><db:type>void</db:type> <db:emphasis role="bold">setColumnCount</db:emphasis>(<db:type>int</db:type> <db:emphasis>columnCount</db:emphasis>)</db:para>
</db:listitem>
</db:itemizedlist>
<db:para>
<db:emphasis role="bold">Notifier signal:
</db:emphasis>
</db:para>
<db:itemizedlist>
<db:listitem>
<db:para><db:type>void</db:type> <db:emphasis role="bold"><db:link xlink:href="qhxymodelmapper.xml#columnCountChanged">columnCountChanged</db:link></db:emphasis>()</db:para>
</db:listitem>
</db:itemizedlist>
</db:section>
<db:section xml:id="firstColumn-prop">
<db:title>firstColumn : int</db:title>
<db:fieldsynopsis>
<db:modifier>(Qt property)</db:modifier>
<db:type>int</db:type>
<db:varname>firstColumn</db:varname>
<db:synopsisinfo role="access">public</db:synopsisinfo>
<db:synopsisinfo role="status">active</db:synopsisinfo>
<db:synopsisinfo role="threadsafeness">unspecified</db:synopsisinfo>
<db:synopsisinfo role="getter">firstColumn</db:synopsisinfo>
<db:synopsisinfo role="setter">setFirstColumn</db:synopsisinfo>
<db:synopsisinfo role="notifier">firstColumnChanged</db:synopsisinfo>
</db:fieldsynopsis>
<db:para>This property holds the column of the model that contains the data for the first point of the series.</db:para>
<db:para>The minimum and default value is 0.</db:para>
<db:para>
<db:emphasis role="bold">Access functions:
</db:emphasis>
</db:para>
<db:itemizedlist>
<db:listitem>
<db:para><db:type>int</db:type> <db:emphasis role="bold">firstColumn</db:emphasis>() const</db:para>
</db:listitem>
<db:listitem>
<db:para><db:type>void</db:type> <db:emphasis role="bold">setFirstColumn</db:emphasis>(<db:type>int</db:type> <db:emphasis>firstColumn</db:emphasis>)</db:para>
</db:listitem>
</db:itemizedlist>
<db:para>
<db:emphasis role="bold">Notifier signal:
</db:emphasis>
</db:para>
<db:itemizedlist>
<db:listitem>
<db:para><db:type>void</db:type> <db:emphasis role="bold"><db:link xlink:href="qhxymodelmapper.xml#firstColumnChanged">firstColumnChanged</db:link></db:emphasis>()</db:para>
</db:listitem>
</db:itemizedlist>
</db:section>
<db:section xml:id="model-prop">
<db:title>model : QAbstractItemModel*</db:title>
<db:fieldsynopsis>
<db:modifier>(Qt property)</db:modifier>
<db:type>QAbstractItemModel*</db:type>
<db:varname>model</db:varname>
<db:synopsisinfo role="access">public</db:synopsisinfo>
<db:synopsisinfo role="status">active</db:synopsisinfo>
<db:synopsisinfo role="threadsafeness">unspecified</db:synopsisinfo>
<db:synopsisinfo role="getter">model</db:synopsisinfo>
<db:synopsisinfo role="setter">setModel</db:synopsisinfo>
<db:synopsisinfo role="notifier">modelReplaced</db:synopsisinfo>
</db:fieldsynopsis>
<db:para>This property holds the model that is used by the mapper.</db:para>
<db:para>
<db:emphasis role="bold">Access functions:
</db:emphasis>
</db:para>
<db:itemizedlist>
<db:listitem>
<db:para><db:type><db:link xlink:href="qabstractitemmodel.xml">QAbstractItemModel</db:link></db:type> *<db:emphasis role="bold">model</db:emphasis>() const</db:para>
</db:listitem>
<db:listitem>
<db:para><db:type>void</db:type> <db:emphasis role="bold">setModel</db:emphasis>(<db:type><db:link xlink:href="qabstractitemmodel.xml">QAbstractItemModel</db:link></db:type> *<db:emphasis>model</db:emphasis>)</db:para>
</db:listitem>
</db:itemizedlist>
<db:para>
<db:emphasis role="bold">Notifier signal:
</db:emphasis>
</db:para>
<db:itemizedlist>
<db:listitem>
<db:para><db:type>void</db:type> <db:emphasis role="bold"><db:link xlink:href="qhxymodelmapper.xml#modelReplaced">modelReplaced</db:link></db:emphasis>()</db:para>
</db:listitem>
</db:itemizedlist>
</db:section>
<db:section xml:id="series-prop">
<db:title>series : QXYSeries*</db:title>
<db:fieldsynopsis>
<db:modifier>(Qt property)</db:modifier>
<db:type>QXYSeries*</db:type>
<db:varname>series</db:varname>
<db:synopsisinfo role="access">public</db:synopsisinfo>
<db:synopsisinfo role="status">active</db:synopsisinfo>
<db:synopsisinfo role="threadsafeness">unspecified</db:synopsisinfo>
<db:synopsisinfo role="getter">series</db:synopsisinfo>
<db:synopsisinfo role="setter">setSeries</db:synopsisinfo>
<db:synopsisinfo role="notifier">seriesReplaced</db:synopsisinfo>
</db:fieldsynopsis>
<db:para>This property holds the series that is used by the mapper.</db:para>
<db:para>All the data in the series is discarded when it is set to the mapper. When a new series is specified, the old series is disconnected (but it preserves its data).</db:para>
<db:para>
<db:emphasis role="bold">Access functions:
</db:emphasis>
</db:para>
<db:itemizedlist>
<db:listitem>
<db:para><db:type><db:link xlink:href="qxyseries.xml">QXYSeries</db:link></db:type> *<db:emphasis role="bold">series</db:emphasis>() const</db:para>
</db:listitem>
<db:listitem>
<db:para><db:type>void</db:type> <db:emphasis role="bold">setSeries</db:emphasis>(<db:type><db:link xlink:href="qxyseries.xml">QXYSeries</db:link></db:type> *<db:emphasis>series</db:emphasis>)</db:para>
</db:listitem>
</db:itemizedlist>
<db:para>
<db:emphasis role="bold">Notifier signal:
</db:emphasis>
</db:para>
<db:itemizedlist>
<db:listitem>
<db:para><db:type>void</db:type> <db:emphasis role="bold"><db:link xlink:href="qhxymodelmapper.xml#seriesReplaced">seriesReplaced</db:link></db:emphasis>()</db:para>
</db:listitem>
</db:itemizedlist>
</db:section>
<db:section xml:id="xRow-prop">
<db:title>xRow : int</db:title>
<db:fieldsynopsis>
<db:modifier>(Qt property)</db:modifier>
<db:type>int</db:type>
<db:varname>xRow</db:varname>
<db:synopsisinfo role="access">public</db:synopsisinfo>
<db:synopsisinfo role="status">active</db:synopsisinfo>
<db:synopsisinfo role="threadsafeness">unspecified</db:synopsisinfo>
<db:synopsisinfo role="getter">xRow</db:synopsisinfo>
<db:synopsisinfo role="setter">setXRow</db:synopsisinfo>
<db:synopsisinfo role="notifier">xRowChanged</db:synopsisinfo>
</db:fieldsynopsis>
<db:para>This property holds the row of the model that contains the x-coordinates of the data points.</db:para>
<db:para>The default value is -1 (invalid mapping).</db:para>
<db:para>
<db:emphasis role="bold">Access functions:
</db:emphasis>
</db:para>
<db:itemizedlist>
<db:listitem>
<db:para><db:type>int</db:type> <db:emphasis role="bold">xRow</db:emphasis>() const</db:para>
</db:listitem>
<db:listitem>
<db:para><db:type>void</db:type> <db:emphasis role="bold">setXRow</db:emphasis>(<db:type>int</db:type> <db:emphasis>xRow</db:emphasis>)</db:para>
</db:listitem>
</db:itemizedlist>
<db:para>
<db:emphasis role="bold">Notifier signal:
</db:emphasis>
</db:para>
<db:itemizedlist>
<db:listitem>
<db:para><db:type>void</db:type> <db:emphasis role="bold"><db:link xlink:href="qhxymodelmapper.xml#xRowChanged">xRowChanged</db:link></db:emphasis>()</db:para>
</db:listitem>
</db:itemizedlist>
</db:section>
<db:section xml:id="yRow-prop">
<db:title>yRow : int</db:title>
<db:fieldsynopsis>
<db:modifier>(Qt property)</db:modifier>
<db:type>int</db:type>
<db:varname>yRow</db:varname>
<db:synopsisinfo role="access">public</db:synopsisinfo>
<db:synopsisinfo role="status">active</db:synopsisinfo>
<db:synopsisinfo role="threadsafeness">unspecified</db:synopsisinfo>
<db:synopsisinfo role="getter">yRow</db:synopsisinfo>
<db:synopsisinfo role="setter">setYRow</db:synopsisinfo>
<db:synopsisinfo role="notifier">yRowChanged</db:synopsisinfo>
</db:fieldsynopsis>
<db:para>This property holds the row of the model that contains the y-coordinates of the data points.</db:para>
<db:para>The default value is -1 (invalid mapping).</db:para>
<db:para>
<db:emphasis role="bold">Access functions:
</db:emphasis>
</db:para>
<db:itemizedlist>
<db:listitem>
<db:para><db:type>int</db:type> <db:emphasis role="bold">yRow</db:emphasis>() const</db:para>
</db:listitem>
<db:listitem>
<db:para><db:type>void</db:type> <db:emphasis role="bold">setYRow</db:emphasis>(<db:type>int</db:type> <db:emphasis>yRow</db:emphasis>)</db:para>
</db:listitem>
</db:itemizedlist>
<db:para>
<db:emphasis role="bold">Notifier signal:
</db:emphasis>
</db:para>
<db:itemizedlist>
<db:listitem>
<db:para><db:type>void</db:type> <db:emphasis role="bold"><db:link xlink:href="qhxymodelmapper.xml#yRowChanged">yRowChanged</db:link></db:emphasis>()</db:para>
</db:listitem>
</db:itemizedlist>
</db:section>
</db:section>
<db:section xml:id="member-function-documentation">
<db:title>Member Function Documentation</db:title>
<db:section xml:id="QHXYModelMapper">
<db:title>[explicit] QHXYModelMapper::QHXYModelMapper(QObject *<db:emphasis>parent</db:emphasis> = nullptr)</db:title>
<db:constructorsynopsis>
<db:methodname>QHXYModelMapper</db:methodname>
<db:methodparam>
<db:type>QObject *</db:type>
<db:parameter>parent</db:parameter>
<db:initializer>nullptr</db:initializer>
</db:methodparam>
<db:synopsisinfo role="meta">constructor</db:synopsisinfo>
<db:synopsisinfo role="signature">QHXYModelMapper(QObject *parent)</db:synopsisinfo>
<db:synopsisinfo role="access">public</db:synopsisinfo>
<db:synopsisinfo role="status">active</db:synopsisinfo>
<db:synopsisinfo role="threadsafeness">unspecified</db:synopsisinfo>
</db:constructorsynopsis>
<db:para>Constructs a mapper object that is a child of <db:code role="parameter">parent</db:code>.</db:para>
</db:section>
<db:section xml:id="columnCountChanged">
<db:title>void QHXYModelMapper::columnCountChanged()</db:title>
<db:methodsynopsis>
<db:void/>
<db:methodname>columnCountChanged</db:methodname>
<db:void/>
<db:synopsisinfo role="meta">plain</db:synopsisinfo>
<db:synopsisinfo role="associated-property">columnCount</db:synopsisinfo>
<db:synopsisinfo role="signature">void columnCountChanged()</db:synopsisinfo>
<db:synopsisinfo role="access">public</db:synopsisinfo>
<db:synopsisinfo role="status">active</db:synopsisinfo>
<db:synopsisinfo role="threadsafeness">unspecified</db:synopsisinfo>
</db:methodsynopsis>
<db:para>This signal is emitted when the number of columns changes.</db:para>
<db:note>
<db:para>Notifier signal for property <db:link xlink:href="qhxymodelmapper.xml#columnCount-prop">columnCount</db:link>. </db:para>
</db:note>
</db:section>
<db:section xml:id="firstColumnChanged">
<db:title>void QHXYModelMapper::firstColumnChanged()</db:title>
<db:methodsynopsis>
<db:void/>
<db:methodname>firstColumnChanged</db:methodname>
<db:void/>
<db:synopsisinfo role="meta">plain</db:synopsisinfo>
<db:synopsisinfo role="associated-property">firstColumn</db:synopsisinfo>
<db:synopsisinfo role="signature">void firstColumnChanged()</db:synopsisinfo>
<db:synopsisinfo role="access">public</db:synopsisinfo>
<db:synopsisinfo role="status">active</db:synopsisinfo>
<db:synopsisinfo role="threadsafeness">unspecified</db:synopsisinfo>
</db:methodsynopsis>
<db:para>This signal is emitted when the first column changes.</db:para>
<db:note>
<db:para>Notifier signal for property <db:link xlink:href="qhxymodelmapper.xml#firstColumn-prop">firstColumn</db:link>. </db:para>
</db:note>
</db:section>
<db:section xml:id="modelReplaced">
<db:title>void QHXYModelMapper::modelReplaced()</db:title>
<db:methodsynopsis>
<db:void/>
<db:methodname>modelReplaced</db:methodname>
<db:void/>
<db:synopsisinfo role="meta">plain</db:synopsisinfo>
<db:synopsisinfo role="associated-property">model</db:synopsisinfo>
<db:synopsisinfo role="signature">void modelReplaced()</db:synopsisinfo>
<db:synopsisinfo role="access">public</db:synopsisinfo>
<db:synopsisinfo role="status">active</db:synopsisinfo>
<db:synopsisinfo role="threadsafeness">unspecified</db:synopsisinfo>
</db:methodsynopsis>
<db:para>This signal is emitted when the model that the mapper is connected to changes.</db:para>
<db:note>
<db:para>Notifier signal for property <db:link xlink:href="qhxymodelmapper.xml#model-prop">model</db:link>. </db:para>
</db:note>
</db:section>
<db:section xml:id="seriesReplaced">
<db:title>void QHXYModelMapper::seriesReplaced()</db:title>
<db:methodsynopsis>
<db:void/>
<db:methodname>seriesReplaced</db:methodname>
<db:void/>
<db:synopsisinfo role="meta">plain</db:synopsisinfo>
<db:synopsisinfo role="associated-property">series</db:synopsisinfo>
<db:synopsisinfo role="signature">void seriesReplaced()</db:synopsisinfo>
<db:synopsisinfo role="access">public</db:synopsisinfo>
<db:synopsisinfo role="status">active</db:synopsisinfo>
<db:synopsisinfo role="threadsafeness">unspecified</db:synopsisinfo>
</db:methodsynopsis>
<db:para>This signal is emitted when the series that the mapper is connected to changes.</db:para>
<db:note>
<db:para>Notifier signal for property <db:link xlink:href="qhxymodelmapper.xml#series-prop">series</db:link>. </db:para>
</db:note>
</db:section>
<db:section xml:id="xRowChanged">
<db:title>void QHXYModelMapper::xRowChanged()</db:title>
<db:methodsynopsis>
<db:void/>
<db:methodname>xRowChanged</db:methodname>
<db:void/>
<db:synopsisinfo role="meta">plain</db:synopsisinfo>
<db:synopsisinfo role="associated-property">xRow</db:synopsisinfo>
<db:synopsisinfo role="signature">void xRowChanged()</db:synopsisinfo>
<db:synopsisinfo role="access">public</db:synopsisinfo>
<db:synopsisinfo role="status">active</db:synopsisinfo>
<db:synopsisinfo role="threadsafeness">unspecified</db:synopsisinfo>
</db:methodsynopsis>
<db:para>This signal is emitted when the row that contains the x-coordinates of data points changes.</db:para>
<db:note>
<db:para>Notifier signal for property <db:link xlink:href="qhxymodelmapper.xml#xRow-prop">xRow</db:link>. </db:para>
</db:note>
</db:section>
<db:section xml:id="yRowChanged">
<db:title>void QHXYModelMapper::yRowChanged()</db:title>
<db:methodsynopsis>
<db:void/>
<db:methodname>yRowChanged</db:methodname>
<db:void/>
<db:synopsisinfo role="meta">plain</db:synopsisinfo>
<db:synopsisinfo role="associated-property">yRow</db:synopsisinfo>
<db:synopsisinfo role="signature">void yRowChanged()</db:synopsisinfo>
<db:synopsisinfo role="access">public</db:synopsisinfo>
<db:synopsisinfo role="status">active</db:synopsisinfo>
<db:synopsisinfo role="threadsafeness">unspecified</db:synopsisinfo>
</db:methodsynopsis>
<db:para>This signal is emitted when the row that contains the y-coordinates of data points changes.</db:para>
<db:note>
<db:para>Notifier signal for property <db:link xlink:href="qhxymodelmapper.xml#yRow-prop">yRow</db:link>. </db:para>
</db:note>
</db:section>
</db:section>
</db:article>
