<?xml version="1.0" encoding="UTF-8"?>
<db:article xmlns:db="http://docbook.org/ns/docbook" xmlns:xlink="http://www.w3.org/1999/xlink" version="5.2" xml:lang="en">
<db:info>
<db:title>HXYModelMapper QML Type</db:title>
<db:productname>QtCharts</db:productname>
<db:edition>Qt 5.7.1 Reference Documentation</db:edition>
<db:titleabbrev>Qt Charts Reference Documentation</db:titleabbrev>
<db:abstract>
<db:para>Horizontal model mapper for QXYSeries.</db:para>
</db:abstract>
<db:pubdate>2025-06-29</db:pubdate>
<db:date>2025-06-29</db:date>
<db:authorgroup>
<db:author>
<db:orgname class="corporation">The Qt Company Ltd.</db:orgname>
</db:author>
</db:authorgroup>
</db:info>
<db:variablelist>
<db:varlistentry>
<db:term>Import Statement</db:term>
<db:listitem>
<db:para>import QtCharts 2.1</db:para>
</db:listitem>
</db:varlistentry>
</db:variablelist>
<db:section xml:id="details">
<db:title>Detailed Description</db:title>
<db:para><db:link xlink:href="qml-qtcharts-hxymodelmapper.xml">HXYModelMapper</db:link> allows you to use your own <db:link xlink:href="qabstractitemmodel.xml">QAbstractItemModel</db:link> derived model with data in rows as a data source for <db:link xlink:href="qml-qtcharts-xyseries.xml">XYSeries</db:link> based series. It is possible to use both <db:link xlink:href="qabstractitemmodel.xml">QAbstractItemModel</db:link> and <db:link xlink:href="qml-qtcharts-xyseries.xml">XYSeries</db:link> data API to manipulate data. <db:link xlink:href="qml-qtcharts-hxymodelmapper.xml">HXYModelMapper</db:link> keeps the series and the model in sync.</db:para>
</db:section>
<db:section xml:id="property-documentation">
<db:title>Property Documentation</db:title>
<db:section xml:id="columnCount-prop">
<db:title>columnCount : int</db:title>
<db:para>Defines the number of columns of the model that are mapped as the data for series. The default value is -1 (count limited by the number of columns in the model)</db:para>
</db:section>
<db:section xml:id="firstColumn-prop">
<db:title>firstColumn : int</db:title>
<db:para>Defines which column of the model contains the data for the first point of the series. The default value is 0.</db:para>
</db:section>
<db:section xml:id="model-prop">
<db:title>model : SomeModel</db:title>
<db:para>The <db:link xlink:href="qabstractitemmodel.xml">QAbstractItemModel</db:link> based model that is used by the mapper. You need to implement the model and expose it to QML. Note: the model has to support adding/removing rows/columns and modifying the data of the cells.</db:para>
</db:section>
<db:section xml:id="series-prop">
<db:title>series : XYSeries</db:title>
<db:para>Defines the <db:link xlink:href="qml-qtcharts-xyseries.xml">XYSeries</db:link> object that is used by the mapper. All the data in the series is discarded when it is set to the mapper. When new series is specified the old series is disconnected (it preserves its data).</db:para>
</db:section>
<db:section xml:id="xRow-prop">
<db:title>xRow : int</db:title>
<db:para>Defines which row of the model is kept in sync with the x values of the series. Default value is -1 (invalid mapping).</db:para>
</db:section>
<db:section xml:id="yRow-prop">
<db:title>yRow : int</db:title>
<db:para>Defines which row of the model is kept in sync with the y values of the series. Default value is -1 (invalid mapping).</db:para>
</db:section>
</db:section>
</db:article>
