<?xml version="1.0" encoding="UTF-8"?>
<db:article xmlns:db="http://docbook.org/ns/docbook" xmlns:xlink="http://www.w3.org/1999/xlink" version="5.2" xml:lang="en">
<db:info>
<db:title>VXYModelMapper QML Type</db:title>
<db:productname>QtCharts</db:productname>
<db:edition>Qt Charts | Commercial or GPLv3</db:edition>
<db:titleabbrev>Qt Charts Reference Documentation</db:titleabbrev>
<db:abstract>
<db:para>A vertical model mapper for <db:link xlink:href="qml-qtcharts-xyseries.xml">XYSeries</db:link>.</db:para>
</db:abstract>
<db:pubdate>2025-06-29</db:pubdate>
<db:date>2025-06-29</db:date>
<db:authorgroup>
<db:author>
<db:orgname class="corporation">The Qt Company Ltd.</db:orgname>
</db:author>
</db:authorgroup>
</db:info>
<db:variablelist>
<db:varlistentry>
<db:term>Import Statement</db:term>
<db:listitem>
<db:para>import QtCharts 2.9</db:para>
</db:listitem>
</db:varlistentry>
<db:varlistentry>
<db:term>In C++:</db:term>
<db:listitem>
<db:para><db:link xlink:href="qvxymodelmapper-qtcharts.xml">QVXYModelMapper</db:link></db:para>
</db:listitem>
</db:varlistentry>
</db:variablelist>
<db:section xml:id="details">
<db:title>Detailed Description</db:title>
<db:para>Model mappers enable using a data model derived from the <db:link xlink:href="qabstractitemmodel.xml">QAbstractItemModel</db:link> class as a data source for a chart. A vertical model mapper is used to create a connection between a line, spline, or scatter series and the data model that has <db:emphasis>X</db:emphasis> and <db:emphasis>Y</db:emphasis> columns for the coordinates and holds the data points for the <db:link xlink:href="qml-qtcharts-xyseries.xml">XYSeries</db:link> as rows. A <db:emphasis>TableModel</db:emphasis> is a natural choice for the model.</db:para>
<db:para>Both model and series properties can be used to manipulate the data. The model mapper keeps the series and the data model in sync.</db:para>
<db:section>
<db:title>See Also</db:title>
<db:para><db:emphasis>See also </db:emphasis>
<db:simplelist type="vert" role="see-also">
<db:member><db:link xlink:href="qml-qtcharts-hxymodelmapper.xml">HXYModelMapper</db:link></db:member>
<db:member><db:link xlink:href="qml-qtcharts-xyseries.xml">XYSeries</db:link></db:member>
<db:member><db:link xlink:href="qtcharts-chartsgallery-example.xml">Charts with Widgets Gallery</db:link></db:member>
</db:simplelist>
</db:para>
</db:section>
</db:section>
<db:section xml:id="property-documentation">
<db:title>Property Documentation</db:title>
<db:section xml:id="firstRow-prop">
<db:title>firstRow : int</db:title>
<db:para>The row of the model that contains the data for the first point of the series. The default value is 0.</db:para>
</db:section>
<db:section xml:id="model-prop">
<db:title>model : SomeModel</db:title>
<db:para>The data model that is used by the mapper. You need to implement the model and expose it to QML.</db:para>
<db:note>
<db:para>The model has to support adding and removing rows or columns and modifying the data in the cells.</db:para>
</db:note>
</db:section>
<db:section xml:id="rowCount-prop">
<db:title>rowCount : int</db:title>
<db:para>The number of rows of the model that are mapped as the data for series. The default value is -1 (the number is limited by the number of rows in the model).</db:para>
</db:section>
<db:section xml:id="series-prop">
<db:title>series : XYSeries</db:title>
<db:para>The series that is used by the mapper. All the data in the series is discarded when it is set to the mapper. When a new series is specified, the old series is disconnected (but it preserves its data).</db:para>
</db:section>
<db:section xml:id="xColumn-prop">
<db:title>xColumn : int</db:title>
<db:para>The column of the model that contains the x-coordinates of data points. The default value is -1 (invalid mapping).</db:para>
</db:section>
<db:section xml:id="yColumn-prop">
<db:title>yColumn : int</db:title>
<db:para>The column of the model that contains the y-coordinates of data points. The default value is -1 (invalid mapping).</db:para>
</db:section>
</db:section>
</db:article>
