<?xml version="1.0" encoding="UTF-8"?>
<db:article xmlns:db="http://docbook.org/ns/docbook" xmlns:xlink="http://www.w3.org/1999/xlink" version="5.2" xml:lang="en">
<db:info>
<db:title>HCandlestickModelMapper QML Type</db:title>
<db:productname>QtCharts</db:productname>
<db:edition>Qt Charts | Commercial or GPLv3</db:edition>
<db:titleabbrev>Qt Charts Reference Documentation</db:titleabbrev>
<db:abstract>
<db:para>Horizontal model mapper for a candlestick series.</db:para>
<db:para>This type was introduced in QtCharts 2.2.</db:para>
</db:abstract>
<db:pubdate>2024-01-26</db:pubdate>
<db:date>2024-01-26</db:date>
<db:authorgroup>
<db:author>
<db:orgname class="corporation">The Qt Company Ltd.</db:orgname>
</db:author>
</db:authorgroup>
</db:info>
<db:variablelist>
<db:varlistentry>
<db:term>Import Statement</db:term>
<db:listitem>
<db:para>import QtCharts 2.4</db:para>
</db:listitem>
</db:varlistentry>
<db:varlistentry>
<db:term>Since</db:term>
<db:listitem>
<db:para>QtCharts 2.2</db:para>
</db:listitem>
</db:varlistentry>
<db:varlistentry>
<db:term>Instantiates:</db:term>
<db:listitem>
<db:para><db:link xlink:href="qhcandlestickmodelmapper.xml">QHCandlestickModelMapper</db:link></db:para>
</db:listitem>
</db:varlistentry>
</db:variablelist>
<db:section xml:id="details">
<db:title>Detailed Description</db:title>
<db:para>Model mappers enable using a data model derived from the <db:link xlink:href="qabstractitemmodel.xml">QAbstractItemModel</db:link> class as a data source for a chart. A horizontal model mapper is used to create a connection between a data model and <db:link xlink:href="qml-qtcharts-candlestickseries.xml">CandlestickSeries</db:link>, so that each row in the data model defines a candlestick item and each column maps to the open, high, low, close, and timestamp values of the candlestick item.</db:para>
<db:para>Both model and candlestick series properties can be used to manipulate the data. The model mapper keeps the candlestick series and the data model in sync.</db:para>
<db:para>The model mapper ensures that all the candlestick items in the candlestick series have equal sizes. Therefore, adding or removing a value from a candlestick item causes the same change to be made in all the candlestick items in the candlestick series.</db:para>
<db:para>The following QML example creates a candlestick series with three candlestick items (assuming the model has at least four rows). Each candlestick item contains data defined by the timestamp, open, high, low, and close columns. The name of an item is defined by the vertical header of the row.</db:para>
<db:programlisting language="qml">CandlestickSeries {
    HCandlestickModelMapper {
        model: myCustomModel // QAbstractItemModel derived implementation
        timestampColumn: 1
        openColumn: 2
        highColumn: 3
        lowColumn: 4
        closeColumn: 5
        firstSetRow: 1
        lastSetRow: 3
    }
}
</db:programlisting>
<db:section>
<db:title>See Also</db:title>
<db:para><db:emphasis>See also </db:emphasis>
<db:simplelist type="vert" role="see-also">
<db:member><db:link xlink:href="qml-qtcharts-candlestickseries.xml">CandlestickSeries</db:link></db:member>
<db:member><db:link xlink:href="qml-qtcharts-candlestickset.xml">CandlestickSet</db:link></db:member>
<db:member><db:link xlink:href="qml-qtcharts-vcandlestickmodelmapper.xml">VCandlestickModelMapper</db:link></db:member>
</db:simplelist>
</db:para>
</db:section>
</db:section>
<db:section xml:id="property-documentation">
<db:title>Property Documentation</db:title>
<db:section xml:id="closeColumn-prop">
<db:title>closeColumn : int</db:title>
<db:fieldsynopsis>
<db:type>int</db:type>
<db:varname>closeColumn</db:varname>
<db:modifier>writable</db:modifier>
<db:synopsisinfo role="access">public</db:synopsisinfo>
<db:synopsisinfo role="status">active</db:synopsisinfo>
<db:synopsisinfo role="threadsafeness">unspecified</db:synopsisinfo>
</db:fieldsynopsis>
<db:para>The column of the model that contains the close values of the candlestick items in the series. The default value is -1 (invalid mapping).</db:para>
</db:section>
<db:section xml:id="firstSetRow-prop">
<db:title>firstSetRow : int</db:title>
<db:fieldsynopsis>
<db:type>int</db:type>
<db:varname>firstSetRow</db:varname>
<db:modifier>writable</db:modifier>
<db:synopsisinfo role="access">public</db:synopsisinfo>
<db:synopsisinfo role="status">active</db:synopsisinfo>
<db:synopsisinfo role="threadsafeness">unspecified</db:synopsisinfo>
</db:fieldsynopsis>
<db:para>The row of the model that is used as the data source for the first item. The default value is -1 (invalid mapping).</db:para>
</db:section>
<db:section xml:id="highColumn-prop">
<db:title>highColumn : int</db:title>
<db:fieldsynopsis>
<db:type>int</db:type>
<db:varname>highColumn</db:varname>
<db:modifier>writable</db:modifier>
<db:synopsisinfo role="access">public</db:synopsisinfo>
<db:synopsisinfo role="status">active</db:synopsisinfo>
<db:synopsisinfo role="threadsafeness">unspecified</db:synopsisinfo>
</db:fieldsynopsis>
<db:para>The column of the model that contains the high values of the candlestick items in the series. The default value is -1 (invalid mapping).</db:para>
</db:section>
<db:section xml:id="lastSetRow-prop">
<db:title>lastSetRow : int</db:title>
<db:fieldsynopsis>
<db:type>int</db:type>
<db:varname>lastSetRow</db:varname>
<db:modifier>writable</db:modifier>
<db:synopsisinfo role="access">public</db:synopsisinfo>
<db:synopsisinfo role="status">active</db:synopsisinfo>
<db:synopsisinfo role="threadsafeness">unspecified</db:synopsisinfo>
</db:fieldsynopsis>
<db:para>The row of the model that is used as the data source for the last item. The default value is -1 (invalid mapping).</db:para>
</db:section>
<db:section xml:id="lowColumn-prop">
<db:title>lowColumn : int</db:title>
<db:fieldsynopsis>
<db:type>int</db:type>
<db:varname>lowColumn</db:varname>
<db:modifier>writable</db:modifier>
<db:synopsisinfo role="access">public</db:synopsisinfo>
<db:synopsisinfo role="status">active</db:synopsisinfo>
<db:synopsisinfo role="threadsafeness">unspecified</db:synopsisinfo>
</db:fieldsynopsis>
<db:para>The column of the model that contains the low values of the candlestick items in the series. The default value is -1 (invalid mapping).</db:para>
</db:section>
<db:section xml:id="model-prop">
<db:title>model : QAbstractItemModel</db:title>
<db:fieldsynopsis>
<db:type>QAbstractItemModel</db:type>
<db:varname>model</db:varname>
<db:modifier>writable</db:modifier>
<db:synopsisinfo role="access">public</db:synopsisinfo>
<db:synopsisinfo role="status">active</db:synopsisinfo>
<db:synopsisinfo role="threadsafeness">unspecified</db:synopsisinfo>
</db:fieldsynopsis>
<db:para>The <db:link xlink:href="qabstractitemmodel.xml">QAbstractItemModel</db:link>-based model that is used by the mapper. The model must be implemented and exposed to QML.</db:para>
<db:note>
<db:para>The model used must support adding and removing rows or columns and modifying the data of the cells.</db:para>
</db:note>
</db:section>
<db:section xml:id="openColumn-prop">
<db:title>openColumn : int</db:title>
<db:fieldsynopsis>
<db:type>int</db:type>
<db:varname>openColumn</db:varname>
<db:modifier>writable</db:modifier>
<db:synopsisinfo role="access">public</db:synopsisinfo>
<db:synopsisinfo role="status">active</db:synopsisinfo>
<db:synopsisinfo role="threadsafeness">unspecified</db:synopsisinfo>
</db:fieldsynopsis>
<db:para>The column of the model that contains the open values of the candlestick items in the series. The default value is -1 (invalid mapping).</db:para>
</db:section>
<db:section xml:id="series-prop">
<db:title>series : CandlestickSeries</db:title>
<db:fieldsynopsis>
<db:type>CandlestickSeries</db:type>
<db:varname>series</db:varname>
<db:modifier>writable</db:modifier>
<db:synopsisinfo role="access">public</db:synopsisinfo>
<db:synopsisinfo role="status">active</db:synopsisinfo>
<db:synopsisinfo role="threadsafeness">unspecified</db:synopsisinfo>
</db:fieldsynopsis>
<db:para>The <db:link xlink:href="qml-qtcharts-candlestickseries.xml">CandlestickSeries</db:link> based object that is used by the mapper.</db:para>
<db:para>All the data in the series is discarded when it is set to the mapper. When a new series is specified, the old series is disconnected (preserving its data).</db:para>
</db:section>
<db:section xml:id="timestampColumn-prop">
<db:title>timestampColumn : int</db:title>
<db:fieldsynopsis>
<db:type>int</db:type>
<db:varname>timestampColumn</db:varname>
<db:modifier>writable</db:modifier>
<db:synopsisinfo role="access">public</db:synopsisinfo>
<db:synopsisinfo role="status">active</db:synopsisinfo>
<db:synopsisinfo role="threadsafeness">unspecified</db:synopsisinfo>
</db:fieldsynopsis>
<db:para>The column of the model that contains the timestamp values of the candlestick items in the series. The default value is -1 (invalid mapping).</db:para>
</db:section>
</db:section>
</db:article>
