<?xml version="1.0" encoding="UTF-8"?>
<db:article xmlns:db="http://docbook.org/ns/docbook" xmlns:xlink="http://www.w3.org/1999/xlink" version="5.2" xml:lang="en">
<db:info>
<db:title>VBarModelMapper QML Type</db:title>
<db:productname>QtCharts</db:productname>
<db:edition>Qt Charts | Commercial or GPLv3</db:edition>
<db:titleabbrev>Qt Charts Reference Documentation</db:titleabbrev>
<db:abstract>
<db:para>Vertical model mapper for bar series.</db:para>
</db:abstract>
<db:pubdate>2024-12-27</db:pubdate>
<db:date>2024-12-27</db:date>
<db:authorgroup>
<db:author>
<db:orgname class="corporation">The Qt Company Ltd.</db:orgname>
</db:author>
</db:authorgroup>
</db:info>
<db:variablelist>
<db:varlistentry>
<db:term>Import Statement</db:term>
<db:listitem>
<db:para>import QtCharts 2.7</db:para>
</db:listitem>
</db:varlistentry>
<db:varlistentry>
<db:term>Instantiates:</db:term>
<db:listitem>
<db:para><db:link xlink:href="qvbarmodelmapper.xml">QVBarModelMapper</db:link></db:para>
</db:listitem>
</db:varlistentry>
</db:variablelist>
<db:section xml:id="details">
<db:title>Detailed Description</db:title>
<db:para>The <db:link xlink:href="qml-qtcharts-vbarmodelmapper.xml">VBarModelMapper</db:link> type enables using a data model derived from the <db:link xlink:href="qabstractitemmodel.xml">QAbstractItemModel</db:link> class as a data source for a chart. A vertical model mapper is used to create a connection between a data model and <db:link xlink:href="qabstractbarseries.xml">QAbstractBarSeries</db:link>, so that each column in the data model defines a bar set and each row maps to a category in a bar series. You need to implement the data model and expose it to QML.</db:para>
<db:para>Both model and bar series properties can be used to manipulate the data. The model mapper keeps the bar series and the data model in sync.</db:para>
<db:para>The model mapper ensures that all the bar sets in the bar series have equal sizes. Therefore, adding or removing a value from a bar set causes the same change to be made in all the bar sets in the bar series.</db:para>
<db:para>The following QML code snippet creates a bar series with three bar sets (assuming the model has at least four columns). Each bar set contains data starting from row 1. The name of a bar set is defined by the column header.</db:para>
<db:programlisting language="cpp">BarSeries {
    VBarModelMapper {
        model: myCustomModel // QAbstractItemModel derived implementation
        firstBarSetColumn: 1
        lastBarSetColumn: 3
        firstRow: 1
    }
}
</db:programlisting>
<db:section>
<db:title>See Also</db:title>
<db:para><db:emphasis>See also </db:emphasis>
<db:simplelist type="vert" role="see-also">
<db:member><db:link xlink:href="qml-qtcharts-hbarmodelmapper.xml">HBarModelMapper</db:link></db:member>
</db:simplelist>
</db:para>
</db:section>
</db:section>
<db:section xml:id="property-documentation">
<db:title>Property Documentation</db:title>
<db:section xml:id="firstBarSetColumn-prop">
<db:title>firstBarSetColumn : int</db:title>
<db:fieldsynopsis>
<db:type>int</db:type>
<db:varname>firstBarSetColumn</db:varname>
<db:modifier>writable</db:modifier>
<db:synopsisinfo role="access">public</db:synopsisinfo>
<db:synopsisinfo role="status">active</db:synopsisinfo>
<db:synopsisinfo role="threadsafeness">unspecified</db:synopsisinfo>
</db:fieldsynopsis>
<db:para>The column of the model that is used as the data source for the first bar set. The default value is -1 (invalid mapping).</db:para>
</db:section>
<db:section xml:id="firstRow-prop">
<db:title>firstRow : int</db:title>
<db:fieldsynopsis>
<db:type>int</db:type>
<db:varname>firstRow</db:varname>
<db:modifier>writable</db:modifier>
<db:synopsisinfo role="access">public</db:synopsisinfo>
<db:synopsisinfo role="status">active</db:synopsisinfo>
<db:synopsisinfo role="threadsafeness">unspecified</db:synopsisinfo>
</db:fieldsynopsis>
<db:para>The row of the model that contains the first values of the bar sets in the bar series. The default value is 0.</db:para>
</db:section>
<db:section xml:id="lastBarSetColumn-prop">
<db:title>lastBarSetColumn : int</db:title>
<db:fieldsynopsis>
<db:type>int</db:type>
<db:varname>lastBarSetColumn</db:varname>
<db:modifier>writable</db:modifier>
<db:synopsisinfo role="access">public</db:synopsisinfo>
<db:synopsisinfo role="status">active</db:synopsisinfo>
<db:synopsisinfo role="threadsafeness">unspecified</db:synopsisinfo>
</db:fieldsynopsis>
<db:para>The column of the model that is used as the data source for the last bar set. The default value is -1 (invalid mapping).</db:para>
</db:section>
<db:section xml:id="model-prop">
<db:title>model : SomeModel</db:title>
<db:fieldsynopsis>
<db:type>SomeModel</db:type>
<db:varname>model</db:varname>
<db:modifier>writable</db:modifier>
<db:synopsisinfo role="access">public</db:synopsisinfo>
<db:synopsisinfo role="status">active</db:synopsisinfo>
<db:synopsisinfo role="threadsafeness">unspecified</db:synopsisinfo>
</db:fieldsynopsis>
<db:para>The data model that is used by the mapper. You need to implement the model and expose it to QML.</db:para>
<db:note>
<db:para>The model has to support adding and removing rows or columns and modifying the data in the cells.</db:para>
</db:note>
</db:section>
<db:section xml:id="rowCount-prop">
<db:title>rowCount : int</db:title>
<db:fieldsynopsis>
<db:type>int</db:type>
<db:varname>rowCount</db:varname>
<db:modifier>writable</db:modifier>
<db:synopsisinfo role="access">public</db:synopsisinfo>
<db:synopsisinfo role="status">active</db:synopsisinfo>
<db:synopsisinfo role="threadsafeness">unspecified</db:synopsisinfo>
</db:fieldsynopsis>
<db:para>The number of rows of the model that are mapped as the data for the bar series. The default value is -1 (number limited to the number of rows in the model).</db:para>
</db:section>
<db:section xml:id="series-prop">
<db:title>series : AbstractBarSeries</db:title>
<db:fieldsynopsis>
<db:type>AbstractBarSeries</db:type>
<db:varname>series</db:varname>
<db:modifier>writable</db:modifier>
<db:synopsisinfo role="access">public</db:synopsisinfo>
<db:synopsisinfo role="status">active</db:synopsisinfo>
<db:synopsisinfo role="threadsafeness">unspecified</db:synopsisinfo>
</db:fieldsynopsis>
<db:para>The bar series that is used by the mapper. All the data in the series is discarded when it is set to the mapper. When the new series is specified, the old series is disconnected (but it preserves its data).</db:para>
</db:section>
</db:section>
</db:article>
