<?xml version="1.0" encoding="UTF-8"?>
<db:article xmlns:db="http://docbook.org/ns/docbook" xmlns:xlink="http://www.w3.org/1999/xlink" version="5.2" xml:lang="en">
<db:info>
<db:title>QVXYModelMapper Class</db:title>
<db:productname>QtCharts</db:productname>
<db:edition>Qt Charts | Commercial or GPLv3</db:edition>
<db:titleabbrev>Qt Charts Reference Documentation</db:titleabbrev>
<db:abstract>
<db:para>The <db:link xlink:href="qvxymodelmapper.xml">QVXYModelMapper</db:link> class is a vertical model mapper for line, spline, and scatter series.</db:para>
</db:abstract>
<db:pubdate>2024-12-27</db:pubdate>
<db:date>2024-12-27</db:date>
<db:authorgroup>
<db:author>
<db:orgname class="corporation">The Qt Company Ltd.</db:orgname>
</db:author>
</db:authorgroup>
</db:info>
<db:variablelist>
<db:varlistentry>
<db:term>Header</db:term>
<db:listitem>
<db:para>QVXYModelMapper</db:para>
</db:listitem>
</db:varlistentry>
<db:varlistentry>
<db:term>Inherited By</db:term>
<db:listitem>
<db:para/>
</db:listitem>
</db:varlistentry>
<db:varlistentry>
<db:term>Instantiated By</db:term>
<db:listitem>
<db:para>qml-qtcharts-vxymodelmapper.xml</db:para>
</db:listitem>
</db:varlistentry>
<db:varlistentry>
<db:term>Inherits</db:term>
<db:listitem>
<db:para><db:link xlink:href="qxymodelmapper.xml" xlink:role="class">QXYModelMapper</db:link></db:para>
</db:listitem>
</db:varlistentry>
</db:variablelist>
<db:section xml:id="details">
<db:title>Detailed Description</db:title>
<db:para>Model mappers enable using a data model derived from the <db:link xlink:href="qabstractitemmodel.xml">QAbstractItemModel</db:link> class as a data source for a chart. A vertical model mapper is used to create a connection between a line, spline, or scatter series and the data model that has <db:emphasis>X</db:emphasis> and <db:emphasis>Y</db:emphasis> columns for the coordinates and holds the data points for the <db:link xlink:href="qml-qtcharts-xyseries.xml">XYSeries</db:link> as rows. A <db:emphasis>TableModel</db:emphasis> is a natural choice for the model.</db:para>
<db:para>Both model and series properties can be used to manipulate the data. The model mapper keeps the series and the data model in sync.</db:para>
<db:section>
<db:title>See Also</db:title>
<db:para><db:emphasis>See also </db:emphasis>
<db:simplelist type="vert" role="see-also">
<db:member><db:link xlink:href="qhxymodelmapper.xml">QHXYModelMapper</db:link></db:member>
<db:member><db:link xlink:href="qxyseries.xml">QXYSeries</db:link></db:member>
<db:member><db:link xlink:href="qtcharts-chartsgallery-example.xml">Charts with Widgets Gallery</db:link></db:member>
</db:simplelist>
</db:para>
</db:section>
</db:section>
<db:section xml:id="property-documentation">
<db:title>Property Documentation</db:title>
<db:section xml:id="firstRow-prop">
<db:title>firstRow : int</db:title>
<db:fieldsynopsis>
<db:modifier>(Qt property)</db:modifier>
<db:type>int</db:type>
<db:varname>firstRow</db:varname>
<db:synopsisinfo role="access">public</db:synopsisinfo>
<db:synopsisinfo role="status">active</db:synopsisinfo>
<db:synopsisinfo role="threadsafeness">unspecified</db:synopsisinfo>
<db:synopsisinfo role="getter">firstRow</db:synopsisinfo>
<db:synopsisinfo role="setter">setFirstRow</db:synopsisinfo>
<db:synopsisinfo role="notifier">firstRowChanged</db:synopsisinfo>
</db:fieldsynopsis>
<db:para>This property holds the row of the model that contains the data for the first point of the series.</db:para>
<db:para>The minimum and default value is 0.</db:para>
<db:para>
<db:emphasis role="bold">Access functions:
</db:emphasis>
</db:para>
<db:itemizedlist>
<db:listitem>
<db:para><db:type>int</db:type> <db:emphasis role="bold">firstRow</db:emphasis>() const</db:para>
</db:listitem>
<db:listitem>
<db:para><db:type>void</db:type> <db:emphasis role="bold">setFirstRow</db:emphasis>(<db:type>int</db:type> <db:emphasis>firstRow</db:emphasis>)</db:para>
</db:listitem>
</db:itemizedlist>
<db:para>
<db:emphasis role="bold">Notifier signal:
</db:emphasis>
</db:para>
<db:itemizedlist>
<db:listitem>
<db:para><db:type>void</db:type> <db:emphasis role="bold"><db:link xlink:href="qvxymodelmapper.xml#firstRowChanged">firstRowChanged</db:link></db:emphasis>()</db:para>
</db:listitem>
</db:itemizedlist>
</db:section>
<db:section xml:id="model-prop">
<db:title>model : QAbstractItemModel*</db:title>
<db:fieldsynopsis>
<db:modifier>(Qt property)</db:modifier>
<db:type>QAbstractItemModel*</db:type>
<db:varname>model</db:varname>
<db:synopsisinfo role="access">public</db:synopsisinfo>
<db:synopsisinfo role="status">active</db:synopsisinfo>
<db:synopsisinfo role="threadsafeness">unspecified</db:synopsisinfo>
<db:synopsisinfo role="getter">model</db:synopsisinfo>
<db:synopsisinfo role="setter">setModel</db:synopsisinfo>
<db:synopsisinfo role="notifier">modelReplaced</db:synopsisinfo>
</db:fieldsynopsis>
<db:para>This property holds the model that is used by the mapper.</db:para>
<db:para>
<db:emphasis role="bold">Access functions:
</db:emphasis>
</db:para>
<db:itemizedlist>
<db:listitem>
<db:para><db:type><db:link xlink:href="qabstractitemmodel.xml">QAbstractItemModel</db:link></db:type> *<db:emphasis role="bold">model</db:emphasis>() const</db:para>
</db:listitem>
<db:listitem>
<db:para><db:type>void</db:type> <db:emphasis role="bold">setModel</db:emphasis>(<db:type><db:link xlink:href="qabstractitemmodel.xml">QAbstractItemModel</db:link></db:type> *<db:emphasis>model</db:emphasis>)</db:para>
</db:listitem>
</db:itemizedlist>
<db:para>
<db:emphasis role="bold">Notifier signal:
</db:emphasis>
</db:para>
<db:itemizedlist>
<db:listitem>
<db:para><db:type>void</db:type> <db:emphasis role="bold"><db:link xlink:href="qvxymodelmapper.xml#modelReplaced">modelReplaced</db:link></db:emphasis>()</db:para>
</db:listitem>
</db:itemizedlist>
</db:section>
<db:section xml:id="rowCount-prop">
<db:title>rowCount : int</db:title>
<db:fieldsynopsis>
<db:modifier>(Qt property)</db:modifier>
<db:type>int</db:type>
<db:varname>rowCount</db:varname>
<db:synopsisinfo role="access">public</db:synopsisinfo>
<db:synopsisinfo role="status">active</db:synopsisinfo>
<db:synopsisinfo role="threadsafeness">unspecified</db:synopsisinfo>
<db:synopsisinfo role="getter">rowCount</db:synopsisinfo>
<db:synopsisinfo role="setter">setRowCount</db:synopsisinfo>
<db:synopsisinfo role="notifier">rowCountChanged</db:synopsisinfo>
</db:fieldsynopsis>
<db:para>This property holds the number of rows of the model that are mapped as the data for series.</db:para>
<db:para>The minimum and default value is -1 (the number is limited by the number of rows in the model).</db:para>
<db:para>
<db:emphasis role="bold">Access functions:
</db:emphasis>
</db:para>
<db:itemizedlist>
<db:listitem>
<db:para><db:type>int</db:type> <db:emphasis role="bold">rowCount</db:emphasis>() const</db:para>
</db:listitem>
<db:listitem>
<db:para><db:type>void</db:type> <db:emphasis role="bold">setRowCount</db:emphasis>(<db:type>int</db:type> <db:emphasis>rowCount</db:emphasis>)</db:para>
</db:listitem>
</db:itemizedlist>
<db:para>
<db:emphasis role="bold">Notifier signal:
</db:emphasis>
</db:para>
<db:itemizedlist>
<db:listitem>
<db:para><db:type>void</db:type> <db:emphasis role="bold"><db:link xlink:href="qvxymodelmapper.xml#rowCountChanged">rowCountChanged</db:link></db:emphasis>()</db:para>
</db:listitem>
</db:itemizedlist>
</db:section>
<db:section xml:id="series-prop">
<db:title>series : QXYSeries*</db:title>
<db:fieldsynopsis>
<db:modifier>(Qt property)</db:modifier>
<db:type>QXYSeries*</db:type>
<db:varname>series</db:varname>
<db:synopsisinfo role="access">public</db:synopsisinfo>
<db:synopsisinfo role="status">active</db:synopsisinfo>
<db:synopsisinfo role="threadsafeness">unspecified</db:synopsisinfo>
<db:synopsisinfo role="getter">series</db:synopsisinfo>
<db:synopsisinfo role="setter">setSeries</db:synopsisinfo>
<db:synopsisinfo role="notifier">seriesReplaced</db:synopsisinfo>
</db:fieldsynopsis>
<db:para>This property holds the series that is used by the mapper.</db:para>
<db:para>All the data in the series is discarded when it is set to the mapper. When a new series is specified, the old series is disconnected (but it preserves its data).</db:para>
<db:para>
<db:emphasis role="bold">Access functions:
</db:emphasis>
</db:para>
<db:itemizedlist>
<db:listitem>
<db:para><db:type><db:link xlink:href="qxyseries.xml">QXYSeries</db:link></db:type> *<db:emphasis role="bold">series</db:emphasis>() const</db:para>
</db:listitem>
<db:listitem>
<db:para><db:type>void</db:type> <db:emphasis role="bold">setSeries</db:emphasis>(<db:type><db:link xlink:href="qxyseries.xml">QXYSeries</db:link></db:type> *<db:emphasis>series</db:emphasis>)</db:para>
</db:listitem>
</db:itemizedlist>
<db:para>
<db:emphasis role="bold">Notifier signal:
</db:emphasis>
</db:para>
<db:itemizedlist>
<db:listitem>
<db:para><db:type>void</db:type> <db:emphasis role="bold"><db:link xlink:href="qvxymodelmapper.xml#seriesReplaced">seriesReplaced</db:link></db:emphasis>()</db:para>
</db:listitem>
</db:itemizedlist>
</db:section>
<db:section xml:id="xColumn-prop">
<db:title>xColumn : int</db:title>
<db:fieldsynopsis>
<db:modifier>(Qt property)</db:modifier>
<db:type>int</db:type>
<db:varname>xColumn</db:varname>
<db:synopsisinfo role="access">public</db:synopsisinfo>
<db:synopsisinfo role="status">active</db:synopsisinfo>
<db:synopsisinfo role="threadsafeness">unspecified</db:synopsisinfo>
<db:synopsisinfo role="getter">xColumn</db:synopsisinfo>
<db:synopsisinfo role="setter">setXColumn</db:synopsisinfo>
<db:synopsisinfo role="notifier">xColumnChanged</db:synopsisinfo>
</db:fieldsynopsis>
<db:para>This property holds the column of the model that contains the x-coordinates of data points.</db:para>
<db:para>The default value is -1 (invalid mapping).</db:para>
<db:para>
<db:emphasis role="bold">Access functions:
</db:emphasis>
</db:para>
<db:itemizedlist>
<db:listitem>
<db:para><db:type>int</db:type> <db:emphasis role="bold">xColumn</db:emphasis>() const</db:para>
</db:listitem>
<db:listitem>
<db:para><db:type>void</db:type> <db:emphasis role="bold">setXColumn</db:emphasis>(<db:type>int</db:type> <db:emphasis>xColumn</db:emphasis>)</db:para>
</db:listitem>
</db:itemizedlist>
<db:para>
<db:emphasis role="bold">Notifier signal:
</db:emphasis>
</db:para>
<db:itemizedlist>
<db:listitem>
<db:para><db:type>void</db:type> <db:emphasis role="bold"><db:link xlink:href="qvxymodelmapper.xml#xColumnChanged">xColumnChanged</db:link></db:emphasis>()</db:para>
</db:listitem>
</db:itemizedlist>
</db:section>
<db:section xml:id="yColumn-prop">
<db:title>yColumn : int</db:title>
<db:fieldsynopsis>
<db:modifier>(Qt property)</db:modifier>
<db:type>int</db:type>
<db:varname>yColumn</db:varname>
<db:synopsisinfo role="access">public</db:synopsisinfo>
<db:synopsisinfo role="status">active</db:synopsisinfo>
<db:synopsisinfo role="threadsafeness">unspecified</db:synopsisinfo>
<db:synopsisinfo role="getter">yColumn</db:synopsisinfo>
<db:synopsisinfo role="setter">setYColumn</db:synopsisinfo>
<db:synopsisinfo role="notifier">yColumnChanged</db:synopsisinfo>
</db:fieldsynopsis>
<db:para>This property holds the column of the model that contains the y-coordinates of data points.</db:para>
<db:para>The default value is -1 (invalid mapping).</db:para>
<db:para>
<db:emphasis role="bold">Access functions:
</db:emphasis>
</db:para>
<db:itemizedlist>
<db:listitem>
<db:para><db:type>int</db:type> <db:emphasis role="bold">yColumn</db:emphasis>() const</db:para>
</db:listitem>
<db:listitem>
<db:para><db:type>void</db:type> <db:emphasis role="bold">setYColumn</db:emphasis>(<db:type>int</db:type> <db:emphasis>yColumn</db:emphasis>)</db:para>
</db:listitem>
</db:itemizedlist>
<db:para>
<db:emphasis role="bold">Notifier signal:
</db:emphasis>
</db:para>
<db:itemizedlist>
<db:listitem>
<db:para><db:type>void</db:type> <db:emphasis role="bold"><db:link xlink:href="qvxymodelmapper.xml#yColumnChanged">yColumnChanged</db:link></db:emphasis>()</db:para>
</db:listitem>
</db:itemizedlist>
</db:section>
</db:section>
<db:section xml:id="member-function-documentation">
<db:title>Member Function Documentation</db:title>
<db:section xml:id="QVXYModelMapper">
<db:title>[explicit] QVXYModelMapper::QVXYModelMapper(QObject *<db:emphasis>parent</db:emphasis> = nullptr)</db:title>
<db:constructorsynopsis>
<db:methodname>QVXYModelMapper</db:methodname>
<db:methodparam>
<db:type>QObject *</db:type>
<db:parameter>parent</db:parameter>
<db:initializer>nullptr</db:initializer>
</db:methodparam>
<db:synopsisinfo role="meta">constructor</db:synopsisinfo>
<db:synopsisinfo role="signature">QVXYModelMapper(QObject *parent)</db:synopsisinfo>
<db:synopsisinfo role="access">public</db:synopsisinfo>
<db:synopsisinfo role="status">active</db:synopsisinfo>
<db:synopsisinfo role="threadsafeness">unspecified</db:synopsisinfo>
</db:constructorsynopsis>
<db:para>Constructs a mapper object that is a child of <db:code role="parameter">parent</db:code>.</db:para>
</db:section>
<db:section xml:id="firstRowChanged">
<db:title>void QVXYModelMapper::firstRowChanged()</db:title>
<db:methodsynopsis>
<db:void/>
<db:methodname>firstRowChanged</db:methodname>
<db:void/>
<db:synopsisinfo role="meta">plain</db:synopsisinfo>
<db:synopsisinfo role="associated-property">firstRow</db:synopsisinfo>
<db:synopsisinfo role="signature">void firstRowChanged()</db:synopsisinfo>
<db:synopsisinfo role="access">public</db:synopsisinfo>
<db:synopsisinfo role="status">active</db:synopsisinfo>
<db:synopsisinfo role="threadsafeness">unspecified</db:synopsisinfo>
</db:methodsynopsis>
<db:para>This signal is emitted when the first row changes.</db:para>
<db:note>
<db:para>Notifier signal for property <db:link xlink:href="qvxymodelmapper.xml#firstRow-prop">firstRow</db:link>. </db:para>
</db:note>
</db:section>
<db:section xml:id="modelReplaced">
<db:title>void QVXYModelMapper::modelReplaced()</db:title>
<db:methodsynopsis>
<db:void/>
<db:methodname>modelReplaced</db:methodname>
<db:void/>
<db:synopsisinfo role="meta">plain</db:synopsisinfo>
<db:synopsisinfo role="associated-property">model</db:synopsisinfo>
<db:synopsisinfo role="signature">void modelReplaced()</db:synopsisinfo>
<db:synopsisinfo role="access">public</db:synopsisinfo>
<db:synopsisinfo role="status">active</db:synopsisinfo>
<db:synopsisinfo role="threadsafeness">unspecified</db:synopsisinfo>
</db:methodsynopsis>
<db:para>This signal is emitted when the model that the mapper is connected to changes.</db:para>
<db:note>
<db:para>Notifier signal for property <db:link xlink:href="qvxymodelmapper.xml#model-prop">model</db:link>. </db:para>
</db:note>
</db:section>
<db:section xml:id="rowCountChanged">
<db:title>void QVXYModelMapper::rowCountChanged()</db:title>
<db:methodsynopsis>
<db:void/>
<db:methodname>rowCountChanged</db:methodname>
<db:void/>
<db:synopsisinfo role="meta">plain</db:synopsisinfo>
<db:synopsisinfo role="associated-property">rowCount</db:synopsisinfo>
<db:synopsisinfo role="signature">void rowCountChanged()</db:synopsisinfo>
<db:synopsisinfo role="access">public</db:synopsisinfo>
<db:synopsisinfo role="status">active</db:synopsisinfo>
<db:synopsisinfo role="threadsafeness">unspecified</db:synopsisinfo>
</db:methodsynopsis>
<db:para>This signal is emitted when the number of rows changes.</db:para>
<db:note>
<db:para>Notifier signal for property <db:link xlink:href="qvxymodelmapper.xml#rowCount-prop">rowCount</db:link>. </db:para>
</db:note>
</db:section>
<db:section xml:id="seriesReplaced">
<db:title>void QVXYModelMapper::seriesReplaced()</db:title>
<db:methodsynopsis>
<db:void/>
<db:methodname>seriesReplaced</db:methodname>
<db:void/>
<db:synopsisinfo role="meta">plain</db:synopsisinfo>
<db:synopsisinfo role="associated-property">series</db:synopsisinfo>
<db:synopsisinfo role="signature">void seriesReplaced()</db:synopsisinfo>
<db:synopsisinfo role="access">public</db:synopsisinfo>
<db:synopsisinfo role="status">active</db:synopsisinfo>
<db:synopsisinfo role="threadsafeness">unspecified</db:synopsisinfo>
</db:methodsynopsis>
<db:para>This signal is emitted when the series that the mapper is connected to changes.</db:para>
<db:note>
<db:para>Notifier signal for property <db:link xlink:href="qvxymodelmapper.xml#series-prop">series</db:link>. </db:para>
</db:note>
</db:section>
<db:section xml:id="xColumnChanged">
<db:title>void QVXYModelMapper::xColumnChanged()</db:title>
<db:methodsynopsis>
<db:void/>
<db:methodname>xColumnChanged</db:methodname>
<db:void/>
<db:synopsisinfo role="meta">plain</db:synopsisinfo>
<db:synopsisinfo role="associated-property">xColumn</db:synopsisinfo>
<db:synopsisinfo role="signature">void xColumnChanged()</db:synopsisinfo>
<db:synopsisinfo role="access">public</db:synopsisinfo>
<db:synopsisinfo role="status">active</db:synopsisinfo>
<db:synopsisinfo role="threadsafeness">unspecified</db:synopsisinfo>
</db:methodsynopsis>
<db:para>This signal is emitted when the column that contains the x-coordinates of data points changes.</db:para>
<db:note>
<db:para>Notifier signal for property <db:link xlink:href="qvxymodelmapper.xml#xColumn-prop">xColumn</db:link>. </db:para>
</db:note>
</db:section>
<db:section xml:id="yColumnChanged">
<db:title>void QVXYModelMapper::yColumnChanged()</db:title>
<db:methodsynopsis>
<db:void/>
<db:methodname>yColumnChanged</db:methodname>
<db:void/>
<db:synopsisinfo role="meta">plain</db:synopsisinfo>
<db:synopsisinfo role="associated-property">yColumn</db:synopsisinfo>
<db:synopsisinfo role="signature">void yColumnChanged()</db:synopsisinfo>
<db:synopsisinfo role="access">public</db:synopsisinfo>
<db:synopsisinfo role="status">active</db:synopsisinfo>
<db:synopsisinfo role="threadsafeness">unspecified</db:synopsisinfo>
</db:methodsynopsis>
<db:para>This signal is emitted when the column that contains the y-coordinates of data points changes.</db:para>
<db:note>
<db:para>Notifier signal for property <db:link xlink:href="qvxymodelmapper.xml#yColumn-prop">yColumn</db:link>. </db:para>
</db:note>
</db:section>
</db:section>
</db:article>
